Repository One-Language/Document, changes with the labels that .github/labeler.yml gives for each.
All labels: github, docs, tests, website

.github/labeler.yml:

github:
  - .github/**/*

docs:
  - README.md
  - _coverpages.md
  - en/**/*
  - fa/**/*
  - in/**/*
  - tr/**/*

tests:
  - CODEOWNERS
  - Makefile
  - codespell.txt
  - .editorconfig
  - .gitignore
  - .percy.yml
  - .pre-commit-config.yaml
  - .prettierignore
  - .prettierrc

website:
  - .nojekyll
  - index.html
  - robots.txt
  - scripts/**/*

Ignore `in` folder from codespell
  .pre-commit-config.yaml
Labels: tests

Ignore `in` folder from codespell (#143)
  .pre-commit-config.yaml
Labels: tests

Makefile: Add Phony target for `pre-commit install`
  Makefile
Labels: tests

Makefile: Add Phony target for `pre-commit install` (#144)
  Makefile
Labels: tests

Update arrays.md
  en/arrays.md
Labels: docs

Update super-linter.yml
  .github/workflows/super-linter.yml
Labels: github

Update super-linter.yml (#147)
  .github/workflows/super-linter.yml
Labels: github

Update trying-out-the-language.md
  en/trying-out-the-language.md
Labels: docs

Update trying-out-the-language.md (#162)
  en/trying-out-the-language.md
Labels: docs

Update super-linter.yml remove ERROR_ON_MISSING_EXEC_BIT
  .github/workflows/super-linter.yml
Labels: github

Update super-linter.yml remove ERROR_ON_MISSING_EXEC_BIT (#165)
  .github/workflows/super-linter.yml
Labels: github

Fix contrib.rocks link in the README
  README.md
Labels: docs

Fix contrib.rocks link in the README (#169)
  README.md
Labels: docs
