Repository One-Language/Document, pull requests merged in 2021-06, with the labels that each got.

#5 Add tests
  .editorconfig
  .github/dependabot.yml
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
  .github/workflows/lint.yml
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
  CODEOWNERS
  README.md
  codespell.txt
  en/README.md
  en/contributing-doc-site.md
  en/core-commands.md
  en/core-configuration.md
  en/plugins-create.md
  fa/README.md
  fa/_navbar.md
  super-linter.report/.keep
Labels: enhancement

#7 Remove markdownlint rules
  .github/linters/.markdown-lint.yml
  README.md
  _coverpage.md
  en/core-configuration.md
  en/core-manage-asdf.md
  en/core-manage-plugins.md
  en/plugins-create.md
Labels: good first issue

#13 Update README.md
  README.md
Labels: bug

#14 Lint with prettier
  .github/dependabot.yml
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  README.md
  en/contributing-core-asdf.md
  en/syntax.md
  en/trying-out-the-language.md
  en/values.md
  fa/_navbar.md
  scripts/docsify-edit-on-github.js
Labels: enhancement

#16 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: enhancement

#19 Update README.md
  README.md
Labels: documentation

#22 Add CircleCI
  .circleci/config.yml
  .percy.yml
Labels: enhancement

#23 Fix CircleCI
  .circleci/config.yml
Labels: bug

#24 Update README.md
  README.md
Labels: documentation

#28 add summary page
  SUMMARY.md
Labels: documentation

#34 Fix pre-commit and ignore fa folder
  .github/workflows/lint.yml
  .github/workflows/super-linter.yml
  en/data-types.md
  en/summary.md
Labels: documentation

#33 convert some words to Farsi
  fa/_sidebar.md
Labels: documentation, good first issue
