Repository One-Language/Document, pull requests merged in 2022-10, with the labels that each got.

#112 Add Indonesian language with code name in
  README.md
  in/README.md
  in/_404.md
  in/_navbar.md
  in/thanks.md
Labels: documentation, enhancement, hacktoberfest-accepted

#115 Update _coverpage.md
  _coverpage.md
Labels: documentation, good first issue

#116 Fix flag emoji for indonesia
  in/_navbar.md
Labels: documentation, hacktoberfest-accepted

#118 Update operators.md
  tr/operators.md
Labels: documentation

#117 Update _navbar.md
  en/_navbar.md
Labels: documentation

#120 Update README.md
  README.md
Labels: documentation

#121 Update _navbar.md
  tr/_navbar.md
Labels: bug

#122 Update _navbar.md
  in/_navbar.md
Labels: documentation

#124 Update _navbar.md
  en/_navbar.md
Labels: bug

#125 Update drop-down language menu to fit contents in all translations
  index.html
Labels: bug, good first issue, hacktoberfest-accepted

#127 Makefile: add update target
  .pre-commit-config.yaml
  Makefile
Labels: tests

#128 Add `contrib.rocks` for contributors to the README
  README.md
Labels: documentation
