Repository One-Language/Document, pull requests merged in 2022-07, with the labels that each got.

#88 Fix links in summary
  en/summary.md
Labels: bug

#89 docs: fix spelling
  en/summary.md
Labels: documentation

#91 docs: fix spelling
  en/summary.md
Labels: documentation

#93 Update syntax.md
  en/syntax.md
Labels: documentation

#95 Fixed Python Examples
  en/summary.md
Labels: documentation, code style

#97 Update syntax.md
  en/syntax.md
Labels: documentation

#98 Update syntax.md
  en/syntax.md
Labels: documentation

#99 Fix links
  tr/summary.md
Labels: bug

#100 Fix code examples
  en/summary.md
  tr/summary.md
Labels: documentation

#101 Update operators.md
  en/operators.md
Labels: documentation

#102 Update operators.md
  en/operators.md
Labels: documentation
